<h3>Current Assignments</h3>
<div class="assignments-grid">
    {{#each state.participants as |participant|}}
    <div class="participant-tile"
        style="border: 1px solid #7a7971; border-radius: 3px; padding: 0.5em; display: flex; flex-direction: column; gap: 0.5em;">
        <h4>{{#with (lookup @root.state.playerNamesByActorId participant) as |name|}}{{name}}{{/with}}</h4>
        <div>
            <strong>Strengths:</strong>
            <span class="skill-tags strengths">
                {{#each (lookup @root.state.assignments participant) as |skillValue skillName|}}
                {{#if (gt skillValue 0)}}
                <span class="skill-tag {{skillName}}">{{formatSkillName skillName}}: +{{skillValue}}</span>
                {{/if}}
                {{/each}}
            </span>
        </div>
        <div>
            <strong>Weaknesses:</strong>
            <span class="skill-tags weaknesses">
                {{#each (lookup @root.state.assignments participant) as |skillValue skillName|}}
                {{#if (lt skillValue 0)}}
                <span class="skill-tag {{skillName}}">{{formatSkillName skillName}}: {{skillValue}}</span>
                {{/if}}
                {{/each}}
            </span>
        </div>
    </div>
    {{/each}}
</div>