<h3 class="paranoia-header">Skill Assignments</h3>
<div class="paranoia-assignments-grid">
    {{#each state.participants as |participantId|}}
    <div class="participant-tile">
        <h4>{{lookup @root.state.playerNamesByActorId participantId}}</h4>
        <div class="skill-category">
            <strong>Strengths</strong>
            <ul class="skill-assignment-list">
                {{#each (lookup @root.state.assignments participantId) as |value skill|}}
                    {{#if (gt value 0)}}
                    <li>
                        <span class="skill-name">{{formatSkillName skill}}</span>
                        <span class="skill-value positive">+{{value}}</span>
                    </li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
        <div class="skill-category">
            <strong>Weaknesses</strong>
            <ul class="skill-assignment-list">
                {{#each (lookup @root.state.assignments participantId) as |value skill|}}
                    {{#if (lt value 0)}}
                    <li>
                        <span class="skill-name">{{formatSkillName skill}}</span>
                        <span class="skill-value negative">{{value}}</span>
                    </li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    {{/each}}
</div>
