<div class="skill-draft-controller paranoia">

    <form>
        {{#if (eq state.status "pending")}}
        <div class="form-group">
            <label>Select Participants</label>
            <p class="notes">Select all player characters who will participate in the skill draft. Use Ctrl/Cmd + Click
                to
                select multiple individually, or click one entry and shift click another to select all between them
                inclusively.</p>
            <select name="participants" multiple size="{{playerActors.length}}">
                {{#each playerActors as |actor|}}
                <option value="{{actor.id}}">{{actor.name}}</option>
                {{/each}}
            </select>
        </div>
        <button type="button" class="start-draft"><i class="fas fa-play"></i> Start Draft</button>

        {{else if (eq state.status "active")}}
        <h2>Draft in Progress</h2>
        <p><strong>Round:</strong> +{{state.round}} / -{{state.round}}</p> 
        <p><strong>Current Turn:</strong> {{state.currentPlayerName}}</p>
 
        {{> "skill-draft-assignments"}}
        {{else}}
        <p>Draft is complete! All skills have been applied.</p>
        {{/if}}
    </form>
</div>
